body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    background-color: #f1f1f1;
}

/*Global*/
.container{
    width:80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

.button{
    height:38px;
    background: orangered;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border-radius: 10px;
}

.button:hover{
    color: white;
    font-weight: bold;
}

/*Header*/
header{
    background: black;
    color: white;
    padding-top: 30px;
    min-height: 70px;
}

header a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 15px;
}

header li{
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px
}

header .highlight, header .current a{
    color: orangered;
    font-weight: bold;
}

header a:hover{
    color: white;
    font-weight: bold;
}

/*Section (feed)*/
.box{
    margin-top: 1%;
    height: 250px;
    width: 250px;
    border: 1px solid black;
    float: right;
    background-color: aliceblue
}

/*Section details*/
#profile{
    margin-left: 5%;
    margin-top: 1%;
    width: 50%;
    
}

#profile th{
    font-size:25px;
}

#profile td{
    font-size: 15px;
}

/*Main body*/
#main{
    text-align: center;
    color: black;
}

#main h2{
    margin-top: 10px;
    font-size: 28px;
    margin-bottom: 10px;
}

#main .row{
   border-bottom: 1px solid black;
   padding-bottom: 1em ;
   margin-bottom: 1em; 
}

#main .row:last-child{
    border-bottom: none;
} 

#main .row_item{
    display: inline-block;
    padding-right: .5em;
    font-weight: bold;
    font-size: 20px
}

.votes{
    display: inline;
}


/*Footer*/
footer {
    padding: 10px;
    margin-top: 10px;
    color: white;
    background-color: black;
    text-align: center;
}
